*{
  margin:0;
  padding:0;
}

body{
  ;
  
}



.layer{
  border-bottom:5px #DE1285 solid;
}

.uno{
  text-align:center;
  color:#EAE30E;
  background-color:#DE1285;
  display:flex;
  justify-content:center;
  align-items:center;
  gap:20px;
  padding:20px;
  position:sticky;
  top:0;
  left:0;
  right:0;
  z-index:100;
}

.image{
  height:100%;
  width:100%;
  border-radius:50%;
}

.img_wrapper_phone{
  height:50px;
  width:50px;
  
}

.dos{
  background-color:white;
  display:flex;
  justify-content:space-between;
  align-items:center;
  gap:20px;
  padding:20px;
  
}

.img_wrapper_logo{
  height:100px;
  width:100px;
  
}

.bullets{
  display:flex;
  justify-content:center;
  align-items:center;
  gap:15px;
}

.bullets li, .about_li{
  list-style:none;
  color:#DE1285;
  font-weight:bold;
}




.tres{
  height:65vh;
}

.kuwatro{
  text-align:center;
  color:#DE1285;
  gap:20px;
  padding:20px;
  
}

.container{
  position:relative;
}

.wrapper{
  width:100%;
  height:65vh;
  box-shadow:10px 10px 20px rgba(0, 0, 0, 0.6);
  margin:2rem auto;
  overflow:hidden;
  
}

.wrapper-holder{
  display:grid;
  grid-template-columns: repeat(4,100%);
  height:100%;
  width:100%;
  animation:slider 30s ease-in-out infinite alternate;
}

.container #slider-img-1{
  background-image: url(img/pic1.jpg);
  background-position:center;
  background-repeat:no-repeat;
}

.container #slider-img-2{
  background-image:url(img/pic2.jpg);
  background-position:center;
  background-repeat:no-repeat;
}

.container #slider-img-3{
  background-image:url(img/pic3.jpg);
  background-position:center;
  background-repeat:no-repeat;
}

.container #slider-img-4{
  background-image:url(img/pic4.jpg);
  background-position:center;
  background-repeat:no-repeat;
}

.button{
  background-color:#DE1285;
  width:20px;
  height:20px;
  border-radius:15px;
  display:inline-block;
  margin: .3rem;
}

.button-holder{
  position:absolute;
  left: 35%;
  bottom: 5%;
}


@keyframes slider{
  0%{transform: translateX(0%);}
  10%{transform: translateX(-100%);}
  20%{transform: translateX(-100%);}
  30%{transform: translateX(-200%);}
  40%{transform: translateX(-200%);}
  50%{transform: translateX(-200%);}
  60%{transform: translateX(-300%);}
  70%{transform: translateX(-300%);}
  80%{transform: translateX(-300%);}
  90%{transform: translateX(0%);}
  100%{transform: translateX(0%);}
}

.card_wrapper{
  display:flex;
  flex-wrap:wrap;
  gap:3rem;
  justify-content:center;
  align-items:center;
  margin-bottom:30px;
}

.card{
  background-color: #EAE30E;
  color:#DE1285;
  box-shadow:10px 10px 20px rgba(0, 0, 0, 0.6);
  height:400px;
  width:350px;
  text-align:center;
}

.card2{
  
  box-shadow:10px 10px 20px rgba(0, 0, 0, 0.6);
  height:350px;
  width:350px;
  text-align:center;
}

.card h1{
  height:50px;
  display:flex;
  justify-content:center;
  align-items:center;
}

.card_image{
  height:350px;
  width:350px;
  
}

.card_link{
  text-decoration:none;
}

.singko{
  padding-bottom:5rem;
  margin-bottom:3rem;
  display:flex;
  flex-wrap:wrap;
  gap:3rem;
  justify-content:center;
  align-items:center;
  max-width:1000px;
  margin-inline:auto;
}



.menu_wrapper{
  margin-inline:5%;
  display:flex;
  justify-content:space-between;
  align-items:start;
  gap:10px;
  margin-bottom:30px;
}

.menu_pic_wrapper{
  height:150px;
  width:150px;
}
.menu_pic{
  height:100%;
  width:100%;

}

.menu_description{
  flex:1;
}

.foodtype{
  text-align:center;
  color:#DE1285;
  background-color:#EAE30E;
  gap:10px;
  padding:10px;
  margin:10px 0;
  
}

.sais{
  background-image:url(img/grayscale.png);
  background-position:center;
  
  background-repeat:no-repeat;
  height:600px;
  padding:20px;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-wrap:wrap;
  gap:50px;
}

.icon{
  height:80%;
  width:80%;
}

.icon_wrapper{
  background-color:#DE1285;
  height:100px;
  width:100px;
  border-radius:50%;
  display:flex;
  justify-content:center;
  align-items:center;
}

.siyete{
  background-color:black;
  height:100px;
  padding:20px;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-wrap:wrap;
  gap:50px;
}

.container7{
    
  color:rgb(56,113,194);
  background-color:#DE1285;
  padding:20px;
  display:grid;
  grid-auto-flow:column;
  gap:350px;
  grid-auto-columns:21%;
  overflow-x:auto;
  margin-bottom:100px;
}

.container7box{
  height:400px;
  width:400px;
  margin:20px;
  
}

.container7pic{
  height:100%;
  width:100%;
  object-fit:cover;
  border-radius:10px;
}


